---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'variables';
@import 'media-queries';

// spd.gr-specific overrides

// Center-align footer text
footer {
  text-align: center;
}

.site-nav {
    // Bootstrap override. Hide this label when not $on-palm because otherwise
    // bootstrap will set display: inline-block and this will ruin the layout
    // of the nav
    label[for="nav-trigger"] {
        display: none;
    }

    // added for hamburger
    @include media-query($on-palm) {
        label[for="nav-trigger"] {
            //bootstrap override
            margin-bottom: 0px;
        }
    }
}

ol.bibliography {
    font-size: small;
    list-style-type: none;
}

ol.bibliography > li:before {
    content: "[" counter(bibitem) "]";
    position: absolute;
    left: -3em;
}

ol.bibliography > li {
    counter-increment: bibitem -1;
}

ol.bibliography > li > span.spd-bib-row {
    display: inline;
}

.spd-pub-group {
    border-bottom: 1px solid $light-gray;
    color: $light-gray;
    margin: 0px -1em 0px -1em;
    padding-top: 1ex;
    text-align: left;
    font-size: 30px;
    line-height: 1;
}
