---
---
<div id="{{entry.key}}">
  <div class="spd-bib-row">
    {%- for author in entry.author_array -%}
      {%- unless forloop.first -%}
      ,
      {% endunless %}
      {%- if author.last == site.scholar.last_name -%}
        <em>{{author.first | slice: 0}}. {{author.last}}</em>
      {%- else -%}
        {%- if site.data.coauthors[author.last] -%}
          <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first | slice: 0}}. {{author.last}}</a>
        {%- else -%}
          {{author.first | slice: 0}}. {{author.last}}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    , "{{entry.title}}"
    {%- if entry.type == "article" -%}
      , <em>{{entry.journal}}</em>
    {%- elsif entry.type == "inproceedings" -%}
      , <em>In {{entry.booktitle}}</em>
    {%- endif -%}
    {%- if entry.volume -%}
      , {{ entry.volume }}
      {%- if entry.number -%}
        ({{ entry.number }})
      {%- endif -%}
    {%- endif -%}
    {%- if entry.pages -%}
      , pp. {{ entry.pages }}
    {%- endif -%}
    {%- if entry.type == "article" and entry.publisher -%}
      , {{ entry.publisher }}
    {%- endif -%}
    {%- if entry.year -%}
      , {{ entry.year }}
    {%- endif -%}
    {% if entry.note %}
      ({{ entry.note -}})
    {%- endif -%}

  </div>

  <div class="text-right">
    <div class="btn-group btn-group-sm spd-bibentry-buttons" role="group">
      {% if entry.oa-url %}
        <a href="{{ entry.oa-url }}" title="Open-Access Version" class="ai ai-open-access btn btn-default btn-outline-secondary" role="button"></a>
      {% else %}
        <a class="ai ai-open-access btn btn-default btn-outline-secondary disabled" role="button"></a>
      {% endif %}

      {% if entry.doi %}
        <a href="http://dx.doi.org/{{ entry.doi }}" title="DOI" class="ai ai-doi btn btn-default btn-outline-secondary" role="button"></a>
      {% else %}
        <a class="ai ai-doi btn btn-default btn-outline-secondary disabled" role="button"></a>
      {% endif %}

      {% if entry.gsid %}
        <a href="http://scholar.google.com/scholar?cites={{ entry.gsid }}" title="Cited by" class="ai ai-google-scholar btn btn-default btn-outline-secondary"></a>
      {% else %}
        <a class="ai ai-google-scholar btn btn-default btn-outline-secondary disabled" role="button"></a>
      {% endif %}

      <a class="fa fa-book show-hide-bibentry btn btn-default btn-outline-secondary" role="button" title="Bib Entry (Show/Hide)"></a>
      <a title="Abstract (Show/Hide)" class="fa fa-font show-hide-abstract btn btn-default btn-outline-secondary" role="button"></a>
    </div>
  </div>

  <div class="spd-bibentry-detail spd-bibentry-bibtex">{{ entry.bibtex }}</div>

  <div class="spd-bibentry-detail spd-bibentry-abstract">
    {{ entry.abstract }}
  </div>
</div>
